*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.navbar-container{
    padding: 10px 10%;
    background: #254d97;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  
  }
  
  .logo{
    width: 140px;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
  
  }
  nav ul li a:hover::after{
  width: 100%;
  }
  
  
  nav .fas{
    display: none;
    color: #fff;
  }
 
  
  @media only  screen and (max-width:600px) {
    nav .fas{
      display: block;
      font-size: 25px;
    }
  
    nav ul {
      background: blue;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    }
  
    nav ul li{
      display: block;
      margin: 25px;
    }
  
    nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
  }



   // ===========================Landing Page=================================
.landing_container{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #254d97;
  color: #fff;
}
.landing_text{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 8%;

  h1{
font-size: 55px;
font-family: "Bricolage Grotesque", sans-serif;
font-weight: 400;
  }

  p{
    font-size: 22px;
    line-height: 1.4;
    margin-top: 15px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
    width: 50%;
  }

}

.landing-btn{
  padding: 16px 70px;
  margin-top: 25px;
  border: none;

  a{
    color: #254d97;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
  }
}

.landing_span{
  color: #ffa07a;
  font-style: italic;
}


.social-icons {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-top: 80px;
}

.social-icons li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons li a:hover {
  color: #ffa07a;
}


.scrolldown{
  position: absolute;
  bottom: 20px;
  left: 46%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%);
  rotate: 45deg;
 top: 105%;


  span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
  }
}

.scrolldown span:nth-child(1){
  transform: translate(-15px, -15px);
  animation-delay:-0.4s ;
}

.scrolldown span:nth-child(2){
  transform: translate(0,0);
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(3){
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes animate{
  0%{
    top: -5px;
    left: -5px;
    opacity: 0;
  }

  25%{
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,100%{
    top: 5px;
    left: 5px;
    opacity: 0;
  }

}

/* For screens with a maximum width of 768px */
@media (max-width: 768px) {
  .landing_container {
    height: 58vh;
    align-items: center;
    padding: 20px;
  }

  .landing_text {
    margin-top: 0;
  }

  .landing_text h1 {
    font-size: 27px;
  }

  .landing_text p {
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
  }

  .landing-btn {
    padding: 12px 40px;
    margin-top: 20px;
  }

  .scrolldown {
    display: none;
  }

  .social-icons{
    margin-top: 90px;
    gap: 30px;
  }
}



//   ================================Footer section=============================
.footer{
    margin-top: 50%;
  }
  .footer-container{
      max-width: 1170px;
      margin:auto;
  }
  .footer-rows{
      display: flex;
      flex-wrap: wrap;
  }
  ul{
      list-style: none;
  }
  .footer{
      background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: green;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
  }
  .footer-col .online-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  .footer-col .online-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
  
  /* -----------------------------------Footer--------------------------------------- */
  